<%- include("partials/header.ejs") %>
<body>
    <div class ="contain">
        <div>
            <div class="time-label">
                <% const date = new Date(); %>
                <h1><%= date %></h1>
            </div>
            <div class="to-do-list">
                <ul class="list-group">
                    <form action="/" method="POST" class="new-item-form">
                        <input class="list-elements" type="text" placeholder="New Item" name="newItem">
                        <button class="add-new-item" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                      </svg>
                        </button>
                    </form>
                    <% if(locals.itemsToDo){itemsToDo.forEach((item)=>{ %>
                        <li class="list-group-item">
                            <input id="myCheckBox"class="form-check-input me-1 my-checkk" type="checkbox" value="" id="secondCheckbox">
                            <p><%= item %></p>
                        </li>
                    <% })}%>
                    
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(".my-checkk").change(function(){
            const myCheck=$(this);
            const label=myCheck.siblings("p");
            if(myCheck.prop("checked")){
                label.addClass("deleted");
            }
            else{
                label.removeClass("deleted");
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="../index1.js"></script>
</body>